@font-face {
  font-family: 'MiFuente';
  src: url('./assets/NetflixSans_W_Rg.woff2') format('woff2');
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.app {
  font-family: 'MiFuente', sans-serif;
  background-color: #111;
}
